.MenuTab{
            
    //display: flex;
    //flex-direction: column;

    width: 100%;
    //height: 220px;

    overflow: auto;

    //background-color: #fff7e8;

    transition-property: height;
    transition-duration: 0.5s;

}