
.Section{

    width: 100%;
    min-height: calc(100vh - 75px);

}

main{
    
    padding-top: 55px;
}


@media(min-width: 700px) {

    main{
        padding-top: 65px;
    }

}
  
@media(min-width: 1000px) {

    main{
        padding-top: 64px;
    }

}