.App {
  text-align: center;
}

.Section{
  background-color: rgb(0, 0, 0);
  border: 1px solid black;
  margin-top: 20px;
  margin-bottom: 20px;
}

.ScrollerItem{
  width: 100px;
  height: 100px;

  background-color: rgb(255, 205, 205);
}

.CarouselItem{
  width: 80%;
  height: 400px;

  background-color: rgb(162, 250, 228);
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 30px;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
