.Test{

    margin-left: auto;
    margin-top: 50px;
    margin-bottom: 50px;

    padding: 30px;

    width: 400px;
    height: 200px;

    border: 1px solid black;
    border-radius: 10px;

    text-align: center;

}