.Header {
  position: fixed;
  width: 100%;

  background-color: transparent;

  //border-bottom: 1px solid black;

  /* padding-top: 5px;
   padding-bottom: 5px;*/

  z-index: 200;

  /*transition-property: transform;
  transition-duration: 2s;*/

  .Wrapper {
    max-width: 1500px;
    min-width: 300px;

    margin: auto;

    padding-top: 5px;
    //padding-bottom: 5px;

    background-color: white;
    //background-color: rgba(209, 240, 255, 0.3);

    border-bottom: 1px solid rgba(0, 0, 0, 0.7);

    display: flex;
    align-items: center;
    justify-content: space-between;

    transition-property: transform;
    transition-duration: 1s;

    .Logo {
      padding-left: 20px;
      opacity: 0.7;
    }

    .Toolbar {
    }

    .MainMenuButton {
      padding: 10px 20px 10px 10px;
      opacity: 0.7;
    }
  }

  .ToolButtons {
    //opacity: 1;

    transition-property: opacity;
    transition-duration: 1s;
  }
}

.ShowHeader {
  transform: translate(0, 0);
}

.HideHeader {
  transform: translate(0, -40px);
}

.ShowToolButtons {
  opacity: 1;
}

.HideToolButtons {
  opacity: 0;
}

@media (min-width: 700px) {
  .ShowHeader {
    transform: translate(0, 0);
  }

  .HideHeader {
    transform: translate(0, -45px);
  }
}

@media (min-width: 1000px) {
  .ShowHeader {
    transform: translate(0, 0);
  }

  .HideHeader {
    transform: translate(0, -55px);
  }
}

/*@keyframes show {
  from {transform: translate(0, -$headerHeight)}
  to {transform: translate(0, 0)}
}
@keyframes hide {
  from {transform: translate(0, 0)}
  to {transform: translate(0, -$headerHeight)}
}*/
